/************** 通用弹出框(start) *************/
#windownbg
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000; /*body-bg*/
    top: 0;
    left: 0;
}
#windown-box
{
    position: fixed;
    _position: absolute; /*For IE 6.0*/
    border: 5px solid #E9F3FD;
    background: #FFF;
    text-align: left;
}
#windown-title
{
    position: relative;
    height: 30px;
    border: 1px solid #A6C9E1;
    /*overflow: hidden;*/
    background: url(../images/Dialog/bg.gif) 0 -330px repeat-x;
}
#windown-title h2
{
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 14px;
    color: #666;
    float:left;
    width:90px;
}
#windown-close
{
    width: 40px;
    height: 16px;
    line-height:30px; 
    cursor: pointer;
    float:right;  
   
}
#windown-content-border
{
    position: relative;
    top: -1px;
    border: 1px solid #A6C9E1;
    padding: 5px 0 5px 5px;
    background: url(../images/Dialog/bg.gif) 0 -380px repeat-x;
}
#windown-content
{
    position: relative;
    overflow: auto;
    text-align: center;
}
#windown-content img, #windown-content iframe
{
    display: block;
}
#windown-content .loading
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}
/************** 通用弹出框(end) *************/

