<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.163.com</Smtp>
  <Port>25</Port>
  <SysEmail>zjfxqt@163.com</SysEmail>
  <UserName>zjfxqt</UserName>
  <PassWord>zjfxqt@126.com</PassWord>
  <RegContent>
  </RegContent>
  <EmailError>
  </EmailError>
</EmailConfigInfo>