@charset "utf-8";
/* CSS Document */
.map img {
    width: 976px;
}

.addr-search {
    padding:10px;
    background: #fff;
    height: 43px;
}

.placebg {
    height: 43px;
    position: relative;
    padding-right:9px
}

    .placebg span.txt {
        height: 43px;
        line-height: 43px;
        padding: 0 10px 0 10px;
        display: inline-block;
        font-size: 14px;
        background: #e3e3e3;
    }

    .placebg .arrow {
        border-left-color: #e3e3e3;
        color: #fff;
        background: #fff;
        width: 0;
        height: 0;
        line-height: 0;
        position: absolute;
        right: 0;
        top: 13px;
        border-style: dashed dashed dashed solid;
        border-width: 9px 0 9px 9px;
    }

.addr-search .msearch {
    margin-left: 10px;
}

.addr-search a img {
    vertical-align: middle;
    margin-right:8px;
}

.addr-search .a_text {
    color: #999999;
    border: 2px solid #17A31E;
    width: 320px;
    height: 38px;
    line-height:38px;
    padding-left:10px;
    display: inline-block;
    vertical-align: middle;
}

.addr-search .history_option {
    position: absolute;
    top: 42px;
    left:0px;
    background: #fff;
    line-height: 22px;
    width: 324px;
    display: none;
}
#shopli .addr-search .history_option {
    position: absolute;
    top: 42px;
    right:0px;
    left:auto;
    background: #fff;
    line-height: 22px;
    width: 324px;
    display: none;
}

    .addr-search .history_option ul {
        border: 1px solid #ccc;
    }

    .addr-search .history_option li {
        border-bottom: 1px dotted #ddd;
        padding: 5px 10px;
        margin:5px 10px;
    }
    .addr-search .history_option a {
        font-size:14px;
    }
    .addr-search .history_option li:last-child 
    {
        border-bottom: none;
    }

.option-open {
  
  
}
.addr-search .option-open .history_option {
    display:block;
}
.addr-search .a_btn {
    background: #17A31E;
    height: 42px;
    padding: 0 26px;
    color: #fff;
    border: none;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
}
.detailsite {
    padding-left:10px;
}
.detailsite a {
    color: #17A31E;
    padding-right: 3px;
    line-height: 42px;
}
.hisbg {
    width:126px;
}
.history {
    background: #e3e3e3;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 42px;
  
    position:absolute;
    top:0;
    left:0;
    border:#e3e3e3 1px solid;
    border-bottom:none;
    width:84px;
    z-index:2;
    
    
}
.option-open .history {
    background:#fff;
    border:#ccc 1px  solid;
    border-bottom:none;

}
    .history a {
        /*background:url(../images/addr_arrow.png) no-repeat right center;*/
        padding-right: 20px;
        text-decoration: none;
        position: relative;
    }

        .history a .arrow {
            border-top-color: #333;
            color: #e3e3e3;
            background: #e3e3e3;
            width: 0;
            height: 0;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 7px;
            border-style: solid dashed dashed dashed;
            border-width: 7px 7px 0 7px;
        }
        
.option-open .history a .arrow {
            border-bottom-color: #333;
            color: #fff;
            background: #fff;
            width: 0;
            height: 0;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 7px;
            border-style:  dashed dashed solid dashed;
            border-width: 0 7px 7px  7px;
        }

        .history a:hover {
            color: #333;
        }



.addr-map .bubble-addr {
    color: #818181;
    margin-top: 5px;
    width: 240px;
}

.addr-map .show-cont {
    margin-top: 9px;
}

/*附近有多少商家框*/
.addr-map .bubble-btn {
    background-color: #f39800;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
}

.borderradius-1 {
    border-radius: 3px;
}

.addr-results {
    display: none;
    float: left;
    padding: 6px 0;
    width: 323px;
    background-color: #fff;
    height: 507px;
}

.pg-map {
    position: relative;
    background:#fff;
}

    .pg-map .addr-results .result-item {
        margin: 0 6px 1px;
        padding: 12px;
        width: 287px;
        cursor: pointer;
        border-radius: 3px;
    }

        .pg-map .addr-results .result-item .addr-info-wrap {
            overflow: hidden;
            zoom: 1;
        }

        .pg-map .addr-results .result-item .addr-name {
            color: #222;
            font-size: 14px;
            font-weight: 700;
        }

        .pg-map .addr-results .result-item .addr-position {
            color: #959595;
            font-size: 12px;
        }

    .pg-map .addr-results .no-result-item {
        padding: 6px 12px;
    }

    .pg-map .addr-results .selected {
        background: #eee;
    }

    .pg-map .addr-results .icon {
        float: left;
        width: 24px;
        height: 29px;
        background: url(/images/sp-around-markers.png) no-repeat;
    }

    .pg-map .addr-results .icon-1 {
        background-position: -24px 0;
    }

    .pg-map .addr-results .icon-2 {
        background-position: -48px 0;
    }

    .pg-map .addr-results .icon-3 {
        background-position: -72px 0;
    }

    .pg-map .addr-results .icon-4 {
        background-position: -96px 0;
    }

    .pg-map .addr-results .icon-5 {
        background-position: -120px 0;
    }

    .pg-map .addr-results .icon-6 {
        background-position: -144px 0;
    }

    .pg-map .addr-results .selected .icon-0 {
        background-position: 0 -32px;
    }

    .pg-map .addr-results .selected .icon-1 {
        background-position: -24px -32px;
    }

    .pg-map .addr-results .selected .icon-2 {
        background-position: -48px -32px;
    }

    .pg-map .addr-results .selected .icon-3 {
        background-position: -72px -32px;
    }

    .pg-map .addr-results .selected .icon-4 {
        background-position: -96px -32px;
    }

    .pg-map .addr-results .selected .icon-5 {
        background-position: -120px -32px;
    }

    .pg-map .addr-results .selected .icon-6 {
        background-position: -144px -32px;
    }

.jPaginate {
    height: 34px;
    position: relative;
    color: #a5a5a5;
    font-size: small;
    width: 100%;
}

    .jPaginate a {
        line-height: 15px;
        height: 18px;
        line-height:18px;
        cursor: pointer;
        padding: 3px 6px;
        margin: 2px;
        float: left;
    }
        .jPaginate a:hover {
            text-decoration:none;
        }
.jPag-control-back {
    position: absolute;
    left: 0;
}

.jPag-control-front {
    position: absolute;
    top: 0;
}

.jPaginate span {
    cursor: pointer;
}

ul.jPag-pages {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.jPag-pages li {
        display: inline;
        float: left;
        padding: 0;
        margin: 0;
    }

        ul.jPag-pages li a {
            float: left;
            padding: 3px 10px;
        }
            ul.jPag-pages li a:hover {
                text-decoration:none;
            }
span.jPag-current {
    cursor: default;
    font-weight: 400;
    height: 18px;
    line-height:18px;
    padding: 3px 10px;
    margin: 2px;
    float: left;
}

span.jPag-snext, span.jPag-snext-img, span.jPag-sprevious, span.jPag-sprevious-img, ul.jPag-pages li span.jPag-next, ul.jPag-pages li span.jPag-next-img, ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-previous-img {
    height: 22px;
    float: left;
    line-height: 18px;
}

ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-previous-img {
    margin: 2px 0 2px 2px;
    font-size: 12px;
    font-weight: 700;
    width: 10px;
}

ul.jPag-pages li span.jPag-next, ul.jPag-pages li span.jPag-next-img {
    margin: 2px 2px 2px 0;
    font-size: 12px;
    font-weight: 700;
    width: 10px;
}

span.jPag-sprevious, span.jPag-sprevious-img {
    margin: 2px 0 2px 2px;
    font-size: 18px;
    width: 15px;
    text-align: right;
}

span.jPag-snext, span.jPag-snext-img {
    margin: 2px 2px 2px 0;
    font-size: 18px;
    width: 15px;
    text-align: right;
}

ul.jPag-pages li span.jPag-previous-img {
    background: transparent url(/images/paginate/previous.png) no-repeat center right;
}

ul.jPag-pages li span.jPag-next-img {
    background: transparent url(/images/paginate/next.png) no-repeat center left;
}

span.jPag-sprevious-img {
    background: transparent url(/images/paginate/sprevious.png) no-repeat center right;
}

span.jPag-snext-img {
    background: transparent url(/images/paginate/snext.png) no-repeat center left;
}

.pg-map .addr-results .result-paginate {
    bottom: 10px;
    left: 6px;
    position: absolute;
}


.tangram-suggestion td {
    font-size: 14px;
    padding: 6px 12px;
}

.standard-table, td, th, tr {
    border-collapse: collapse;
    font-size: 12px;
}
.guid-map {
    position:absolute;
    top:1px;
    left:1px;
     background: url("/images/mapMarker.png") no-repeat scroll 0 0 ;
    display: block;
    height: 577px;
    display:none;
    width: 976px;
    z-index: 2
}
#guide-close {
    position:absolute;
    width:35px;
    height:35px;
    top:22px;
    right:18px;
    
    cursor:pointer;
    display:block;
}

.addr-map .map-tip {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top:2%;
    width:180px;
    z-index: 1;
    opacity:0.9;
    right:1%;
    font-size:14px;
    color:#2d9fff;
}
/*------------------------newadd-------------------------------------*/
#index_banner{
	width:100%;
	height:483px;
	margin-bottom:15px;
	margin-top:-17px;
	}
#index_banner .banner_bg{
	width:100%;
	height:263px;
	background:url(../images/newindex/index_banner_bar.jpg) no-repeat top center;
	position:relative;
	}	
#index_banner .wrap{
	position:relative;
	}	
#more_active{
	position:absolute;
	right:0;
	top:25px;
	width:280px;
	height:456px;
	border-bottom:1px solid #dbdbdb;
	background:#fff;
	}
#more_active .maylist {
	padding:0 20px;
	
	
	}
#more_active .maylist i{
	height:50px;
	width:50px;
	margin-right:8px;
	display:inline-block;
	vertical-align:top;
	margin-top:10px;
	}
#more_active .maylist i.wei_wm{
	background:url(../images/newindex/restaurant_icon.png) no-repeat;
	}	
#more_active .maylist i.wm_palyer{
	background:url(../images/newindex/restaurant_vedio.png) no-repeat;
	}
#more_active .maylist i.out_active{
	background:url(../images/newindex/restaurant_qizhi.png) no-repeat;
	}
#more_active .maylist i.wei_market{
	background:url(../images/newindex/restaurant_cart.png) no-repeat;
	}
#more_active .maylist i.wei_tuangou{
	background:url(../images/newindex/restaurant_site.png) no-repeat;
	}
#more_active .maylist i.sina_weibo{
	background:url(../images/newindex/little_logo.png) no-repeat;
	}	
#more_active .maylist .lik{
	line-height:22px;
	padding-top:24px;
	display:inline-block;
	vertical-align:top;
	}	
#more_active .maylist li{
	height:71px;
	border-bottom:1px solid #eee;
	font-size:18px;
	
	}
#more_active .maylist li.sina{
	font-size:12px;
	
	}
#more_active .maylist li.sina .sina_txt{
	display:inline-block;
	padding-top:9px;
	}
#more_active .maylist li.sina .sina_txt img{
	padding:0px 5px 0;
	vertical-align:middle;
	
	}	
#more_active .maylist li.sina .blue,#more_active .maylist li.sina .grey{
	
	display:inline-block;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	
	}
#more_active .maylist li.sina .guanzhu_btn{
	background:url(../images/newindex/guanzhu_btn.png) no-repeat;
	width:64px;
	height:24px;
	cursor:pointer;
	display:block;
	margin-top:5px;
	}	
#more_active .maylist li.sina .blue{
	color:#0078cf;
	}	
.banner_left{
	width:655px;
	padding:24px 0px 0;
	}	
.address_search	{
	height:52px;
	width:655px;
	
	}
.address_search	.as_text{
	width:540px;
	box-shadow:-1px 1px 3px rgba(0,0,0,.13);
	height:52px;
	line-height:52px;
	background:#fff;
	padding-left:18px;
	border:none;
	vertical-align:top;
	font-size:18px;
	color:#666;
	}
.address_search	.as_btn{
	box-shadow:-1px 1px 3px rgba(0,0,0,.13);
	height:52px;
	background:#17A31E;
	color:#fff;
	font-size:20px;
	font-family:"Microsoft Yahei";
	text-align:center;
	line-height:52px;
	width:96px;
	border:none;
	vertical-align:top;
	margin-left:-5px;
	cursor:pointer;
	}
.banner_adlist a img{
	padding-bottom:5px;
	}	
.banner_adlist{
	padding-top:20px;
	}	
.other_service{
	height:105px;
	padding-bottom:42px;
	padding-top:40px;
	
	}
.other_service .text_info{
	font-family:"Microsoft Yahei";
	font-size:20px;
	float:left;
	width:165px;
	height:80px;
	margin-top:2px;
	margin-right:15px;
	background:url(../images/newindex/allin_icon.png) top right no-repeat;
	line-height:22px;
	padding-top:38px;
	color:#888;
	
	}
.other_service .choice_serive{
	float:left;
	width:475px;
	height:102px;
	background:url(../images/newindex/more_chioce_rukou.png) no-repeat;
	}
.other_service .choice_serive li{
	
	float:left;
	text-indent:-9999em;
	width:158px;
	height:102px;
	cursor:pointer;
	}	
.other_service .choice_serive li a{
    display:block;
    width:158px;
	height:102px;
   
}
.index-tit{
	height:56px;
	line-height:55px;
	padding-left:16px;
	box-shadow:0px 1px 2px rgba(0,0,0,.1);
	position:relative;
	margin-bottom:15px;
    background:#fff;
	}
.index-tit .more-go{
	position:absolute;
	right:12px;
	top:0;
	width:70px;
	height:56px;
	font-size:14px;
	color:#17A31E;
	
	}
.index-tit .hot-go{
	background:url(../images/newindex/restaurant_site_title.png) left center no-repeat;
	padding-left:28px;
	font-size:18px;
	
	}
.index-tit .hot-market{
	background:url(../images/newindex/restaurant_cart_title.png) left center no-repeat;
	padding-left:28px;
	font-size:18px;
	
	}	
.index-tit .hot-restaurant{
	background:url(../images/star_title_icon.png) left center no-repeat;
	padding-left:28px;
	font-size:18px;
	
	}
.index-tit .open-restaurant{
	background:url(../images/restaurant_title_icon.png) left center no-repeat;
	padding-left:28px;
	font-size:18px;
    color:#57b000;
	
	}	
.index-tit .close-restaurant{
	background:url(../images/close_icon.png) left center no-repeat;
	padding-left:28px;
	font-size:18px;
    color:#666;
	
	}
.index-tit .more-go .arrow{
	position:absolute;
	right:0;
	top:24px;
	border-style:dashed dashed dashed solid;
	border-width:5px 0 5px 5px;
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) rgba(255,132,0,1);
    height:0;
    width:0;
	}
.ad-player{
	
	margin-bottom:20px;
	}
.ad-player ul{
	float:left;
	border:1px solid #e7e7e7;
	}	
.ad-player li{
	float:left;
    overflow:hidden;
	}	
.ad-player li.line-one{
	width:198px;
	border-right:1px solid #e7e7e7;
	}
.ad-player li.line-three{
	width:198px;
	border-left:1px solid #e7e7e7;
	}
.ad-player li.line-one img,.ad-player li.line-three img{
	display:block
	}
.ad-player li.line2-two	{
	border-top:1px solid #e7e7e7;
	height:292px;
	
	
	}
.ad-player li .li198_145{
    width:198px;
    height:145px;
   
    float:left;
}
.ad-player li .li193_172{
    width:193px;
    height:172px;
   
    float:left;
}
.ad-player li .li192_172{
    width:192px;
    height:172px;

    float:left;
}
.ad-player li .li193_120{
    width:193px;
    height:120px;
  
    float:left;
}
.ad-player li .li192_120{
    width:192px;
    height:120px;
   
    float:left;
}
.ad-player li.line2-one1 a:hover{
  
    float:left;
}
.ad-player li.line-two{
	width:580px;
	}
.ad-player li .bom-border{
	border-bottom:1px solid #e7e7e7;
	}
.ad-player li .right-border{
	border-right:1px solid #e7e7e7;
	}
.ad-player li.overh{
    overflow:hidden;
    height:290px;
}
.ad-player .line2-one1{
    height:120px;
    overflow:hidden;
}
.ad-player a:hover img	{
	width:110%;
	height:110%;
	position:relative;
	margin-left:-5%;
	margin-top:-5%;
	}
.ad-player .ppt a:hover img{
   	width:100%;
	height:100%;
	position:relative;
	margin-left:0%;
	margin-top:0%;

}
.ad-player a{
	display:block;
    float:left;
	}	
.weixin_go{
	position:absolute;
	right:-168px;
	top:25px;
	}	
.weixin_go img{
	margin-bottom:32px;
	}
.index_shop_list li{
    float:left;
    width:316px;
    height:373px;
    margin-right:16px;
     margin-bottom:16px;
}
.index_shop_list{
   
}

.hotmark {
    left:100px;
}


.mapwrap {
    width:1100px;
    position:fixed;
    height:570px;
    top:50%;
    margin-top:-285px;
    left:50%;
    margin-left:-550px;
    z-index:999999;
    display:none;
}
.map-bar{
    background:#f39800;
    height:46px;
    padding:12px 18px;
    position:relative;
}
.map-bar-close{
    background:url(../images/icon.png) no-repeat -268px -80px;
    height:24px;
    width:24px;
    position:absolute;
    right:25px;
    top:23px;
    cursor:pointer;
}



.map-bar .d_seachCon {
   
    height: 46px;
    width: 670px;
}
.map-bar .selectBox {
    float: left;
    position: relative;
    z-index: 990;
}
.map-bar .selectBox .dropDown_iconBox {
    display: block;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.map-bar .selectBox .dropDown_icon {
    left: 50%;
    margin: -4px 0 0 -8px;
    position: absolute;
    top: 50%;
}
.map-bar .selectBox .positionIconB {
    position: absolute;
    right: 10px;
    top: 15px;
}
.map-bar .citySelect {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    height: 46px;
    line-height: 46px;
    margin-right: 10px;
    width: 100px;
}
.map-bar .citySelect input {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #ec7b01;
    font-family: "Microsoft YaHei",SimSun;
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    width: 80px;
}
.map-bar .addressSelect {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: 46px;
    line-height: 46px;
    width: 506px;
}
.map-bar .addressSelect input.searchInput {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #666;
    font-family: "Microsoft YaHei",SimSun;
    font-size: 20px;
    height: 36px;
    line-height: 36px;
    padding: 5px 40px 5px 20px;
    width: 400px;
    vertical-align:top;
}
.map-bar .addressSelect .shake {
    background: none repeat scroll 0 0 #ffe9e8;
    color: #d00;

}
.map-bar .searchBtn {
    background: url(../images/search_icon_btn.jpg) no-repeat 0 10px;
    border: medium none;
   
    color: #fff;
    cursor: pointer;
    
    font-family: "Microsoft YaHei",SimSun;
    font-size: 20px;
    height: 46px;
    text-align: center;
    width: 26px;
    padding:0 10px;
    vertical-align:top;
   
}
.map-bar .selectList {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ec7b01;
    display: none;
    left: 0;
    position: absolute;
    top: 46px;
    z-index: 998;
}
.map-bar .selectList li {
    border-bottom: 1px solid #ddd;
    height: 44px;
    line-height: 44px;
    padding: 1px 0;
}
.map-bar .selectList li a {
    color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.map-bar .selectList li a:hover {
    background: none repeat scroll 0 0 #eee;
}
.map-bar .selectList li.lastSet a, .d_seachBox .d_seachMain .selectList li.lastSet span {
    float: right;
}
.map-bar .selectList li.lastSet a {
    color: #ec7b01;
    padding: 0 10px;
}
.map-bar .selectList li.lastSet a:hover {
    background: none repeat scroll 0 0 #fff;
}
.map-bar .selectList li.lastSet span.set_icon {
    top: 10px;
}
.map-bar .selectList li.hover a {
    background: none repeat scroll 0 0 #eee;
}
.map-bar .selectList li.lastSet.hover a {
    background: none repeat scroll 0 0 #fff;
}
.map-bar .selectList li:last-child {
    border-bottom: medium none;
}
.map-bar .selectListCity {
    padding: 0 1px;
    width: 96px;
}
.map-bar .selectListAddress {
    padding: 0 1px;
    width: 457px;
}
.ks-overlay-mask-shown {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    display: block;
}

	
