<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!--网站域名-->
  <URL>http://weixin.zainachi.com</URL>

  <!--网站域名-->
  <HeadWord></HeadWord>
  <!--api 信息-->
  <AppId>1111</AppId>
  <AppSecret>1111</AppSecret>

  <phone>4000-800-888</phone>
  <orderphone>12344444444</orderphone>
  
</GeneralConfigInfo>                            