<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="GetCommission" time_of_day="60" minutes="0" type="Hangjing.Event.GetCommission, Hangjing.Event" enabled="true" is_system_event="true" />

    <Event key="qurystate"  time_of_day="-1" minutes="1"  type="Hangjing.Event.qurystate, Hangjing.Event" enabled="true" is_system_event="true" />

  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>